---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <a href="/" class="font-semibold text-accent-hover hover:text-accent transition-colors duration-300 ease-in-out">
        {SITE.NAME}
      </a>
      <nav class="flex gap-1">
        <a href="/docs" class="text-accent-hover hover:text-accent underline underline-offset-2 decoration-accent/30 hover:decoration-accent transition-colors duration-300 ease-in-out">
          docs
        </a>
      </nav>
    </div>
  </Container>
</header>
